In [1]:
# Source: https://fdc.nal.usda.gov/download-datasets.html
# food.csv and food_nutrient.csv from The Food and Nutrient Database for Dietary Studies (FNDDS)
# nutrient.csv from Supporting data for Downloads

In [2]:
import pandas as pd
import numpy as np

In [3]:
# turn csv into DataFrame (extract only important columns)
food_names = pd.read_csv('input_data/food.csv', 
                   usecols=['fdc_id', 'description'], float_precision='round_trip')
food_names

       fdc_id                               description
0     1097510                               Milk, human
1     1097511                                 Milk, NFS
2     1097512                               Milk, whole
3     1097513                   Milk, low sodium, whole
4     1097514            Milk, calcium fortified, whole
...       ...                                       ...
7078  1104588          Tomatoes as ingredient in omelet
7079  1104589  Other vegetables as ingredient in omelet
7080  1104590         Vegetables as ingredient in curry
7081  1104591         Sauce as ingredient in hamburgers
7082  1104592      Industrial oil as ingredient in food

[7083 rows x 2 columns]

In [4]:
# turn csv into DataFrame (extract only important columns)
nutrient_names = pd.read_csv('input_data/nutrient.csv', 
                       usecols=['id', 'name', 'unit_name'], float_precision='round_trip')
# show first few lines 
nutrient_names.head()

     id                         name unit_name
0  1002                     Nitrogen         G
1  1003                      Protein         G
2  1004            Total lipid (fat)         G
3  1005  Carbohydrate, by difference         G
4  1007                          Ash         G

In [5]:
# turn csv into DataFrame (extract only important columns)
nutrient_amounts = pd.read_csv('input_data/food_nutrient.csv', 
                       usecols=['fdc_id', 'nutrient_id', 'amount'], float_precision='round_trip')
# show first few lines 
nutrient_amounts.head()

    fdc_id  nutrient_id  amount
0  1097510         1180  16.000
1  1097510         1264   0.321
2  1097510         1292   1.658
3  1097510         1293   0.497
4  1097510         1259   0.000

In [77]:
food = nutrient_amounts.pivot_table(index='fdc_id', columns='nutrient_id', values='amount', aggfunc='sum', fill_value=0)
food.insert(0, 'english_name', food_names['description'].to_numpy())
food.insert(1, 'russian_name', '')
food

nutrient_id,english_name,russian_name,1003,1004,1005,1008,1018,1051,1057,1058,...,1272,1275,1276,1277,1278,1279,1280,1292,1293,2000
fdc_id,,,,,,,,,,,,,,,,,,,,,
1097510,"Milk, human",,1.03,4.38,6.89,70,0.0,87.50,0,0,...,0.000,0.129,0.0,0.040,0.000,0.000,0.000,1.658,0.497,6.89
1097511,"Milk, NFS",,3.34,1.99,4.87,51,0.0,89.04,0,0,...,0.000,0.030,0.0,0.002,0.000,0.000,0.001,0.426,0.065,4.89
1097512,"Milk, whole",,3.28,3.20,4.67,60,0.0,88.10,0,0,...,0.000,0.047,0.0,0.004,0.001,0.000,0.002,0.688,0.108,4.81
1097513,"Milk, low sodium, whole",,3.10,3.46,4.46,61,0.0,88.20,0,0,...,0.000,0.077,0.0,0.000,0.000,0.000,0.000,0.999,0.128,4.46
1097514,"Milk, calcium fortified, whole",,3.28,3.20,4.67,60,0.0,88.10,0,0,...,0.000,0.047,0.0,0.004,0.001,0.000,0.002,0.688,0.108,4.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104588,Tomatoes as ingredient in omelet,,1.11,0.23,5.48,25,0.0,92.57,0,0,...,0.000,0.001,0.0,0.000,0.000,0.000,0.000,0.035,0.094,3.42
1104589,Other vegetables as ingredient in omelet,,3.46,0.38,4.81,29,0.0,90.37,0,0,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.002,0.175,2.73
1104590,Vegetables as ingredient in curry,,1.81,0.19,11.60,52,0.0,85.59,0,0,...,0.000,0.001,0.0,0.000,0.000,0.000,0.000,0.017,0.064,3.25
1104591,Sauce as ingredient in hamburgers,,1.34,22.85,17.14,271,0.0,55.97,0,0,...,0.002,0.028,0.0,0.106,0.000,0.133,0.000,5.321,13.522,13.08
1104592,Industrial oil as ingredient in food,,0.00,100.00,0.00,892,0.0,0.00,0,0,...,0.000,0.072,0.0,0.322,0.000,0.024,0.000,31.097,31.812,0.00

In [78]:
import re
russian_names = {}

with open('input_data/translated.txt', 'r') as russian_file:
    russian_lines = russian_file.readlines()
    
    for line in russian_lines:
        prog = re.compile(r'(\d{7})\s([^\n]*)')
        match = prog.match(line)
        if match:
#             print('1', match.group(1), '2', match.group(2))
            food.at[int(match.group(1)), 'russian_name'] = match.group(2)

# check empty strings
print(food[food['russian_name'] == ''].index)

food

Int64Index([], dtype='int64', name='fdc_id')

nutrient_id,english_name,russian_name,1003,1004,1005,1008,1018,1051,1057,1058,...,1272,1275,1276,1277,1278,1279,1280,1292,1293,2000
fdc_id,,,,,,,,,,,,,,,,,,,,,
1097510,"Milk, human",Молоко человеческое,1.03,4.38,6.89,70,0.0,87.50,0,0,...,0.000,0.129,0.0,0.040,0.000,0.000,0.000,1.658,0.497,6.89
1097511,"Milk, NFS","Молоко, неуточненное",3.34,1.99,4.87,51,0.0,89.04,0,0,...,0.000,0.030,0.0,0.002,0.000,0.000,0.001,0.426,0.065,4.89
1097512,"Milk, whole","Молоко, цельное",3.28,3.20,4.67,60,0.0,88.10,0,0,...,0.000,0.047,0.0,0.004,0.001,0.000,0.002,0.688,0.108,4.81
1097513,"Milk, low sodium, whole","Молоко с низким содержанием натрия, цельное",3.10,3.46,4.46,61,0.0,88.20,0,0,...,0.000,0.077,0.0,0.000,0.000,0.000,0.000,0.999,0.128,4.46
1097514,"Milk, calcium fortified, whole","Молоко, обогащенное кальцием, цельное",3.28,3.20,4.67,60,0.0,88.10,0,0,...,0.000,0.047,0.0,0.004,0.001,0.000,0.002,0.688,0.108,4.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104588,Tomatoes as ingredient in omelet,Помидоры как ингредиент омлета,1.11,0.23,5.48,25,0.0,92.57,0,0,...,0.000,0.001,0.0,0.000,0.000,0.000,0.000,0.035,0.094,3.42
1104589,Other vegetables as ingredient in omelet,Другие овощи в качестве ингредиента омлета,3.46,0.38,4.81,29,0.0,90.37,0,0,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.002,0.175,2.73
1104590,Vegetables as ingredient in curry,Овощи как ингредиент карри,1.81,0.19,11.60,52,0.0,85.59,0,0,...,0.000,0.001,0.0,0.000,0.000,0.000,0.000,0.017,0.064,3.25
1104591,Sauce as ingredient in hamburgers,Соус как ингредиент гамбургеров,1.34,22.85,17.14,271,0.0,55.97,0,0,...,0.002,0.028,0.0,0.106,0.000,0.133,0.000,5.321,13.522,13.08
1104592,Industrial oil as ingredient in food,Индустриальное масло как ингредиент пищевых пр...,0.00,100.00,0.00,892,0.0,0.00,0,0,...,0.000,0.072,0.0,0.322,0.000,0.024,0.000,31.097,31.812,0.00

In [80]:
"""
protein 1003 Protein
fat 1004 Total lipid (fat)
carbohydrate 1005 Carbohydrate, by difference
energy 1008 Energy
alcohol 1018 Alcohol, ethyl
water 1051 Water
caffeine 1057 Caffeine
theobromine 1058 Theobromine
fiber 1079 Fiber, total dietary
calcium 1087 Calcium, Ca
iron 1089 Iron, Fe
magnesium 1090 Magnesium, Mg
phosphorus 1091 Phosphorus, P
potassium 1092 Potassium, K
sodium 1093 Sodium, Na
zinc 1095 Zinc, Zn
copper 1098 Copper, Cu
selenium 1103 Selenium, Se
retinol 1105 Retinol
rae 1106 Vitamin A, RAE
carotene_beta 1107 Carotene, beta
carotene_alpha 1108 Carotene, alpha
alpha_tocopherol 1109 Vitamin E (alpha-tocopherol)
d2_d3 1114 Vitamin D (D2 + D3)
cryptoxanthin_beta 1120 Cryptoxanthin, beta
lycopene 1122 Lycopene
lutein_zeaxanthin 1123 Lutein + zeaxanthin
ascorbic_acid 1162 Vitamin C, total ascorbic acid
thiamin 1165 Thiamin
riboflavin 1166 Riboflavin
niacin 1167 Niacin
b6 1175 Vitamin B-6
folate 1177 Folate, total
b12 1178 Vitamin B-12
choline 1180 Choline, total
phylloquinone 1185 Vitamin K (phylloquinone)
folic_acid 1186 Folic acid
food_folate 1187 Folate, food
dfe_folate 1190 Folate, DFE
added_e 1242 Vitamin E, added
added_b12 1246 Vitamin B-12, added
cholesterol 1253 Cholesterol
saturated 1258 Fatty acids, total saturated
lipid_4_0 1259 4:0
lipid_6_0 1260 6:0
lipid_8_0 1261 8:0
lipid_10_0 1262 10:0
lipid_12_0 1263 12:0
lipid_14_0 1264 14:0
lipid_16_0 1265 16:0
lipid_18_0 1266 18:0
lipid_18_1 1268 18:1
lipid_18_2 1269 18:2
lipid_18_3 1270 18:3
lipid_20_4 1271 20:4
lipid_dha 1272 22:6 n-3 (DHA)
lipid_16_1 1275 16:1
lipid_18_4 1276 18:4
lipid_20_1 1277 20:1
lipid_epa 1278 20:5 n-3 (EPA)
lipid_22_1 1279 22:1
lipid_dpa 1280 22:5 n-3 (DPA)
monounsaturated 1292 Fatty acids, total monounsaturated
polyunsaturated 1293 Fatty acids, total polyunsaturated
sugars 2000 Sugars, total including NLEA
"""

'\nprotein 1003 Protein\nfat 1004 Total lipid (fat)\ncarbohydrate 1005 Carbohydrate, by difference\nenergy 1008 Energy\nalcohol 1018 Alcohol, ethyl\nwater 1051 Water\ncaffeine 1057 Caffeine\ntheobromine 1058 Theobromine\nfiber 1079 Fiber, total dietary\ncalcium 1087 Calcium, Ca\niron 1089 Iron, Fe\nmagnesium 1090 Magnesium, Mg\nphosphorus 1091 Phosphorus, P\npotassium 1092 Potassium, K\nsodium 1093 Sodium, Na\nzinc 1095 Zinc, Zn\ncopper 1098 Copper, Cu\nselenium 1103 Selenium, Se\nretinol 1105 Retinol\nrae 1106 Vitamin A, RAE\ncarotene_beta 1107 Carotene, beta\ncarotene_alpha 1108 Carotene, alpha\nalpha_tocopherol 1109 Vitamin E (alpha-tocopherol)\nd2_d3 1114 Vitamin D (D2 + D3)\ncryptoxanthin_beta 1120 Cryptoxanthin, beta\nlycopene 1122 Lycopene\nlutein_zeaxanthin 1123 Lutein + zeaxanthin\nascorbic_acid 1162 Vitamin C, total ascorbic acid\nthiamin 1165 Thiamin\nriboflavin 1166 Riboflavin\nniacin 1167 Niacin\nb6 1175 Vitamin B-6\nfolate 1177 Folate, total\nb12 1178 Vitamin B-12\ncholine 1180 Choline, total\nphylloquinone 1185 Vitamin K (phylloquinone)\nfolic_acid 1186 Folic acid\nfood_folate 1187 Folate, food\ndfe_folate 1190 Folate, DFE\nadded_e 1242 Vitamin E, added\nadded_b12 1246 Vitamin B-12, added\ncholesterol 1253 Cholesterol\nsaturated 1258 Fatty acids, total saturated\nlipid_4_0 1259 4:0\nlipid_6_0 1260 6:0\nlipid_8_0 1261 8:0\nlipid_10_0 1262 10:0\nlipid_12_0 1263 12:0\nlipid_14_0 1264 14:0\nlipid_16_0 1265 16:0\nlipid_18_0 1266 18:0\nlipid_18_1 1268 18:1\nlipid_18_2 1269 18:2\nlipid_18_3 1270 18:3\nlipid_20_4 1271 20:4\nlipid_dha 1272 22:6 n-3 (DHA)\nlipid_16_1 1275 16:1\nlipid_18_4 1276 18:4\nlipid_20_1 1277 20:1\nlipid_epa 1278 20:5 n-3 (EPA)\nlipid_22_1 1279 22:1\nlipid_dpa 1280 22:5 n-3 (DPA)\nmonounsaturated 1292 Fatty acids, total monounsaturated\npolyunsaturated 1293 Fatty acids, total polyunsaturated\nsugars 2000 Sugars, total including NLEA\n'

In [81]:
from sqlalchemy import create_engine

user = input('User: ')
password = input('Password: ')
database_name = input('DB: ')

database_url = 'postgresql://{user}:{password}@localhost:5432/{database_name}'.format(
    user=user,
    password=password,
    database_name=database_name,
)

engine = create_engine(database_url, echo=False)
food.to_sql('food', con=engine, if_exists='replace')

User:  potato
Password:  colorado
DB:  potato